h1 Hello World!
<p>みなさん、こんにちは。KIZUNAアプリへようこそ！</p>
<p>ここでは小中高生の心の教室などに通っているコミュニケーションをするのが苦手な人のためのサイトです。</p>
<p>自分の1日の生活の出来事を投稿してみたり、慣れてきたら学校の先生やお父さんお母さん・サポーターさんに協力してもらってSNSの使い方を勉強してみよう！</p>

  = link_to 'ユーザー新規登録へ', new_user_path, class: 'btn btnprimary mr-3'